@charset "UTF-8";
@font-face {
  font-family: 'Unique';
  src: url("../font/UniqueRegular.ttf") format("truetype"); }
@font-face {
  font-family: 'Dancing';
  src: url("../font/dancing/DancingScript-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: 'Dancing';
  src: url("../font/dancing/DancingScript-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold; }
@font-face {
  font-family: 'League Spartan';
  src: url("../font/leaguespartan/leaguespartan-bold.eot");
  src: url("../font/leaguespartan/leaguespartan-bold.eot?#iefix") format("embedded-opentype"), url("../font/leaguespartan/leaguespartan-bold.woff2") format("woff2"), url("../font/leaguespartan/leaguespartan-bold.woff") format("woff"), url("../font/leaguespartan/leaguespartan-bold.svg#league_spartanbold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Grundschrift';
  src: url("../font/grundschrift/Grundschrift-Regular.otf");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: 'Grundschrift';
  src: url("../font/grundschrift/Grundschrift-Bold.otf");
  font-style: normal;
  font-weight: bold; }
@font-face {
  font-family: 'Grundschrift';
  src: url("../font/grundschrift/Grundschrift-Light.otf");
  font-style: normal;
  font-weight: lighter; }
@font-face {
  font-family: 'Beon';
  src: url("../font/Beon/Beon-Regular.otf");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: 'Unique';
  src: url("../font/UniqueRegular.ttf") format("truetype"); }
@font-face {
  font-family: 'Dancing';
  src: url("../font/dancing/DancingScript-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: 'Dancing';
  src: url("../font/dancing/DancingScript-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold; }
@font-face {
  font-family: 'League Spartan';
  src: url("../font/leaguespartan/leaguespartan-bold.eot");
  src: url("../font/leaguespartan/leaguespartan-bold.eot?#iefix") format("embedded-opentype"), url("../font/leaguespartan/leaguespartan-bold.woff2") format("woff2"), url("../font/leaguespartan/leaguespartan-bold.woff") format("woff"), url("../font/leaguespartan/leaguespartan-bold.svg#league_spartanbold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Grundschrift';
  src: url("../font/grundschrift/Grundschrift-Regular.otf");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: 'Grundschrift';
  src: url("../font/grundschrift/Grundschrift-Bold.otf");
  font-style: normal;
  font-weight: bold; }
@font-face {
  font-family: 'Grundschrift';
  src: url("../font/grundschrift/Grundschrift-Light.otf");
  font-style: normal;
  font-weight: lighter; }
@font-face {
  font-family: 'Beon';
  src: url("../font/Beon/Beon-Regular.otf");
  font-style: normal;
  font-weight: normal; }
nav {
  /* 设置宽度高度背景颜色 */
  /*高度改为自动高度*/
  width: 100%;
  margin-left: 0;
  padding-left: 0;
  position: fixed;
  /*固定在顶部*/
  top: 0;
  left: 0;
  z-index: 20;
  display: block;
  border: 1px solid #f6f6f6; }
  @media (min-width: 2000px) {
    nav {
      height: calc(1vh + 4px + 55px + 6px + 5px); } }
  @media (min-width: 1401px) and (max-width: 1999px) {
    nav {
      height: calc(1vh + 3px + 30px + 6px + 5px); } }
  @media (min-width: 760px) and (max-width: 1400px) {
    nav {
      height: calc(1vh + 2.5px + 30px + 6px + 5px); } }
  @media (min-width: 460px) and (max-width: 759px) {
    nav {
      height: calc(1vh + 2px + 30px + 6px + 5px); } }
  @media (max-width: 459px) {
    nav {
      height: calc(1vh + 2px + 30px + 6px + 5px); } }

.right a {
  font-family: "Beon";
  font-weight: bold; }

.light {
  background-color: rgba(255, 255, 255, 0.9); }
  .light .outer-path {
    fill: #444444; }
  .light .right > a {
    color: #4b4b4b;
    font-size: large; }

.dark {
  background-color: rgba(23, 23, 24, 0.7); }
  .dark .outer-path {
    fill: #ffffff; }
  .dark .right > a {
    color: white;
    font-size: large; }

.sky {
  background-color: rgba(224, 233, 241, 0.9); }
  .sky .outer-path {
    fill: #444444; }
  .sky .right > a {
    color: #556d81;
    font-size: large; }

#loginTip a {
  vertical-align: middle;
  font-size: large; }

nav > ul {
  padding: 1vh 0 0 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0px;
  /* 清除ul标签的默认样式 */
  width: auto;
  /*宽度也改为自动*/
  list-style-type: none;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 4%; }
  nav > ul li {
    float: left;
    /* 使li内容横向浮动，即横向排列  */
    margin-right: 3.5%;
    /* 两个li之间的距离*/
    /* position: relative; */
    overflow: hidden; }
    nav > ul li a {
      /* 设置链接内容显示的格式*/
      display: block;
      /* 把链接显示为块元素可使整个链接区域可点击 */
      text-align: center;
      padding: 3px;
      overflow: hidden;
      text-decoration: none;
      /* 去除下划线 */
      transition-property: all;
      transition-duration: 500ms; }
    @media (min-width: 2000px) {
      nav > ul li svg {
        width: 55px;
        height: 55px; } }
    @media (min-width: 1401px) and (max-width: 1999px) {
      nav > ul li svg {
        width: 30px;
        height: 30px; } }
    @media (min-width: 760px) and (max-width: 1400px) {
      nav > ul li svg {
        width: 30px;
        height: 30px; } }
    @media (min-width: 460px) and (max-width: 759px) {
      nav > ul li svg {
        width: 30px;
        height: 30px; } }
    @media (max-width: 459px) {
      nav > ul li svg {
        width: 30px;
        height: 30px; } }
    nav > ul li a:hover {
      /* 鼠标选中时背景变为深色 */
      background-color: #cfe2f3;
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }
  nav > ul li:hover ul {
    /* 鼠标选中二级菜单内容时 */ }
    @media (min-width: 1400px) {
      nav > ul li:hover ul {
        left: auto; } }
    @media (max-width: 1399px) {
      nav > ul li:hover ul {
        display: block; } }
  @media (min-width: 2000px) {
    nav > ul .selected a {
      border-bottom: 4px solid #0a88d3; } }
  @media (min-width: 1401px) and (max-width: 1999px) {
    nav > ul .selected a {
      border-bottom: 3px solid #0a88d3; } }
  @media (min-width: 760px) and (max-width: 1400px) {
    nav > ul .selected a {
      border-bottom: 2.5px solid #0a88d3; } }
  @media (min-width: 460px) and (max-width: 759px) {
    nav > ul .selected a {
      border-bottom: 2px solid #0a88d3; } }
  @media (max-width: 459px) {
    nav > ul .selected a {
      border-bottom: 2px solid #0a88d3; } }
  nav > ul .style {
    cursor: pointer; }
  @media (min-width: 1400px) {
    nav > ul .mine {
      margin-right: 6.5%; } }
  nav > ul .right {
    float: right; }
    nav > ul .right ul {
      /* 设置二级菜单 */
      margin-left: 0px;
      background: #ffffff77;
      border: 1px hidden #f6f6f6;
      border-radius: 6px;
      padding-inline-start: 0px;
      /* 默认隐藏二级菜单的内容 */ }
      @media (min-width: 1400px) {
        nav > ul .right ul {
          position: absolute;
          left: -999em; } }
      @media (max-width: 1399px) {
        nav > ul .right ul {
          position: relative;
          display: none; } }
      nav > ul .right ul li {
        /* 二级菜单li内容的显示 */
        float: none;
        text-align: center;
        background-size: auto;
        padding-left: 2%; }
      nav > ul .right ul a {
        /* 设置链接内容显示的格式*/
        display: block;
        /* 把链接显示为块元素可使整个链接区域可点击 */
        color: #606063;
        font-family: 'Beon';
        font-weight: bold;
        text-align: center;
        padding: 3px;
        overflow: hidden;
        text-decoration: none;
        /* 去除下划线 */
        transition-property: all;
        transition-duration: 500ms;
        font-size: inherit; }
      nav > ul .right ul svg.icon {
        margin-right: 1%;
        float: left; }
        @media (min-width: 2000px) {
          nav > ul .right ul svg.icon {
            width: 30px;
            height: 30px; } }
        @media (min-width: 1401px) and (max-width: 1999px) {
          nav > ul .right ul svg.icon {
            width: 27px;
            height: 27px; } }
        @media (min-width: 760px) and (max-width: 1400px) {
          nav > ul .right ul svg.icon {
            width: 22px;
            height: 22px; } }
        @media (min-width: 460px) and (max-width: 759px) {
          nav > ul .right ul svg.icon {
            width: 20px;
            height: 20px; } }
        @media (max-width: 459px) {
          nav > ul .right ul svg.icon {
            width: 18px;
            height: 18px; } }

.hidden {
  display: none; }

footer {
  /* background-color: rgb(61, 57, 57); */
  background-color: #f5f5f7;
  color: #b7b7bb;
  width: 100%;
  margin-top: 3%;
  text-align: center;
  font-size: medium; }

@media (min-width: 2000px) {
  footer img {
    width: 120px;
    height: 120px; } }
@media (min-width: 1401px) and (max-width: 1999px) {
  footer img {
    width: 100px;
    height: 100px; } }
@media (min-width: 760px) and (max-width: 1400px) {
  footer img {
    width: 80px;
    height: 80px; } }
@media (min-width: 460px) and (max-width: 759px) {
  footer img {
    width: 60px;
    height: 60px; } }
@media (max-width: 459px) {
  footer img {
    width: 50px;
    height: 50px; } }

a {
  text-decoration: none;
  margin-right: 2%;
  color: #4c86bd;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

blockquote {
  color: #4c86bd;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center !important;
  padding: 2% 0; }

.highlight {
  color: rgba(225, 153, 115, 0.81);
  font-size: large; }

@media (min-width: 2000px) {
  svg#placeholder {
    width: 300px;
    height: 300px; } }
@media (min-width: 1401px) and (max-width: 1999px) {
  svg#placeholder {
    width: 200px;
    height: 200px; } }
@media (min-width: 760px) and (max-width: 1400px) {
  svg#placeholder {
    width: 150px;
    height: 150px; } }
@media (min-width: 460px) and (max-width: 759px) {
  svg#placeholder {
    width: 100px;
    height: 100px; } }
@media (max-width: 459px) {
  svg#placeholder {
    width: 50px;
    height: 50px; } }

.float-button {
  float: right;
  position: fixed;
  right: 10px;
  bottom: 5px;
  z-index: 30; }
  .float-button ul {
    list-style: none;
    padding-inline-start: 0px; }
  .float-button li {
    margin-bottom: 30%;
    padding-top: 15%;
    padding-left: 15%;
    padding-right: 15%; }
  @media (min-width: 2000px) {
    .float-button svg {
      width: 55px;
      height: 55px; } }
  @media (min-width: 1401px) and (max-width: 1999px) {
    .float-button svg {
      width: 30px;
      height: 30px; } }
  @media (min-width: 760px) and (max-width: 1400px) {
    .float-button svg {
      width: 30px;
      height: 30px; } }
  @media (min-width: 460px) and (max-width: 759px) {
    .float-button svg {
      width: 30px;
      height: 30px; } }
  @media (max-width: 459px) {
    .float-button svg {
      width: 30px;
      height: 30px; } }

.down {
  transform-origin: center center;
  transition: 200ms;
  -moz-transition: 200ms;
  -webkit-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms; }

.up {
  transform-origin: center center;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: 200ms;
  -moz-transition: 200ms;
  -webkit-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms; }

nav {
  background-color: rgba(224, 233, 241, 0.9); }

body {
  text-align: left;
  width: 100%;
  background-color: #fff; }

main {
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 2000px) {
    main {
      margin-top: calc(4vh + 4px + 55px + 6px + 5px );
      width: 70%; } }
  @media (min-width: 1401px) and (max-width: 1999px) {
    main {
      margin-top: calc(4vh + 3px + 30px + 6px + 5px);
      width: 75%; } }
  @media (min-width: 760px) and (max-width: 1400px) {
    main {
      margin-top: calc(4vh + 2.5px + 30px + 6px + 5px);
      width: 80%; } }
  @media (min-width: 460px) and (max-width: 759px) {
    main {
      margin-top: calc(4vh + 2px + 30px + 6px + 5px);
      width: 90%; } }
  @media (max-width: 459px) {
    main {
      margin-top: calc(4vh + 2px + 30px + 6px + 5px);
      width: 96%; } }

th {
  text-align: left; }

thead th {
  font-family: 'League Spartan';
  font-size: large;
  color: #2f65c9;
  font-weight: 150;
  background-color: #c7daeb;
  border-radius: 5px;
  padding: 1% 0 1% 1.5%; }

.search-block td {
  padding: 0.5% 0.5% 0.5% 0.5%;
  font-family: 'Beon';
  font-weight: bold; }
  .search-block td .filter-input {
    border-radius: 5px; }
    @media (min-width: 651px) {
      .search-block td .filter-input {
        width: 60%; } }
    @media (min-width: 460px) and (max-width: 650px) {
      .search-block td .filter-input {
        display: inline-block;
        width: 70%; } }
    @media (max-width: 459px) {
      .search-block td .filter-input {
        display: block;
        width: 80%; } }
  .search-block td input[type='text'] {
    height: 30px;
    border: 1px solid #bebbbb; }
  .search-block td textarea {
    height: 50px;
    resize: none;
    border: 1px solid #bebbbb; }
.search-block button {
  width: calc(15% + 15px);
  height: 36px;
  border-radius: 5px;
  appearance: none;
  font-size: medium;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #fff;
  border: 1px outset white; }

form span {
  display: inline-block;
  vertical-align: middle; }

table {
  margin-left: 1.7%;
  margin-bottom: 2%;
  background-color: rgba(199, 218, 235, 0.4);
  width: 96%;
  border-radius: 5px; }

section tfoot {
  text-align: center; }

ul {
  list-style: none;
  padding-left: 0; }

ul table {
  margin-left: 0.2%;
  margin-bottom: 0.2%;
  background-color: white;
  width: 99%;
  border: 1px; }

ul img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

ul .result-img {
  justify-content: center;
  align-items: center; }
  @media (min-width: 1401px) {
    ul .result-img {
      width: 10vw;
      height: 10vw; } }
  @media (min-width: 760px) and (max-width: 1400px) {
    ul .result-img {
      width: 20vw;
      height: 20vw; } }
  @media (max-width: 759px) {
    ul .result-img {
      width: 150px;
      height: 150px; } }

ul th {
  padding-left: 2%;
  padding-bottom: 0%;
  padding-top: 1%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger; }

ul .description {
  padding-left: 2%;
  padding-top: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: medium; }
  @media (min-width: 1024px) {
    ul .description {
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -moz-line-clamp: 3;
      -ms-line-clamp: 3; } }
  @media (min-width: 460px) and (max-width: 1023px) {
    ul .description {
      -webkit-line-clamp: 4;
      line-clamp: 4;
      -moz-line-clamp: 4;
      -ms-line-clamp: 4; } }
  @media (max-width: 459px) {
    ul .description {
      -webkit-line-clamp: 5;
      line-clamp: 5;
      -moz-line-clamp: 5;
      -ms-line-clamp: 5; } }

.float-button {
  right: auto;
  bottom: auto;
  top: 5%;
  left: 0;
  display: none; }
  @media (max-width: 460px) {
    .float-button {
      display: block; } }

@media (max-width: 459px) {
  .btns.sm {
    display: block; } }
@media (max-width: 460px) {
  .btns.sm {
    display: none; } }

@media (max-width: 460px) {
  .btns.md {
    display: none; } }

/*# sourceMappingURL=search.css.map */
